<h1>{{dateNow | date:'dd/MM/yyyy'}}</h1>
<div class="container my-3">
    <div class="row g-3">
        <div class="col-3">
            <label for="nameSurname" class="form-label">Ad Soyad</label>
            <input type="text" [(ngModel)]="nameSurname" class="form-control" id="nameSurname">
        </div>
        <div class="col-3">
            <label for="seat" class="form-label">KoltuK No</label>
            <input type="number" [(ngModel)]="seat" class="form-control" id="seat">
        </div>
        <div class="col-3">
            <label for="gender" class="form-label">Cinsiyet</label>
            <select id="inputState" [(ngModel)]="gender" class="form-select">
                <option value="male">Erkek</option>
                <option value="female">Kadın</option>
            </select>
        </div>
        <div class="col-2 d-flex align-self-end">
           
            <button type="button" (click)="add()" class="btn w-100 btn-primary">Yolcu Ekle</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="input-group mb-3" style="width: 400px">
            <span class="input-group-text"  id="search">Yolcu Ara</span>
            <input type="text" class="form-control" [(ngModel)]="searchText">
          </div>
    </div>
    <div class="col-md-12">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Ad Soyad</th>
                    <th scope="col">Koltuk No</th>
                    <th scope="col">Cinsiyet</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of dataList | search:searchText ; let index=index"
                [ngClass]="item.gender === 'male'?'table-secondary':'table-success'" >
                    <td>{{item.nameSurname}}</td>
                    <td>{{item.seat}}</td>
                    <td>{{item.gender === 'male'?'Erkek':'Kadın'}}</td>
                    <td><button type="button" (click)="deleteItem(index)" class="btn btn-sm btn-danger">Sil</button></td>
                </tr>
        
          

            </tbody>
        </table>
    </div>
</div>